<!DOCTYPE html>
<html ng-app="keep">
	<head>
		<title>Keep</title>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link rel="stylesheet/less" type="text/css" href="/css/estilos.less" />
		<link rel="stylesheet" type="text/css" href="/bower_components/angular-material/angular-material.css">
	</head>
	<body ng-controller="KeepController">
		<md-toolbar class="md-accent">
			<div class="md-toolbar-tools">
				<h2>
					<span>Google Keep</span>
				</h2>

				<span flex></span>

				<md-button class="md-icon-button" aria-label="Mostrar em lista" ng-click="view === 'grade' ? view = 'lista' : view = 'grade'">
					<i class="material-icons">{{ view === 'grade' ? 'view_module' : 'view_agenda' }}</i>
				</md-button>

				<md-button class="md-icon-button" aria-label="Mostrar tarefas completas" ng-click="completed = !completed">
					<i class="material-icons">{{ completed ? 'check_box_outline_blank' : 'check_box' }}</i>
				</md-button>

				<md-input-container md-no-float class="campoBusca">
					<input ng-model="search" placeholder="Procurar tarefa">
				</md-input-container>
			</div>
		</md-toolbar>

		<div>
			<div flex="50" layout="column" class="adicionarTarefa">
				<md-card>
					<form name="adicionar">
						<md-card-title>
							<md-card-title-text>
								<md-input-container md-no-float class="md-block">
									<input ng-model="nova.title" name="titulo" placeholder="Título" ng-required="true">
								</md-input-container>
							
								<md-input-container>
									<label>Descrição</label>
									<textarea ng-model="nova.description" name="descricao" columns="1" ng-minlength="10" md-maxlength="150" ng-required="true" rows="5"></textarea>
								</md-input-container>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end center">
							<md-button ng-disabled="adicionar.$invalid" ng-click="salvar()">Salvar</md-button>
						</md-card-actions>
					</form>
				</md-card>
			</div>

			<div class="lista">
				<md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
					<md-card flex="{{view === 'grade' ? 45 : 100}}" 
						ng-repeat="tarefa in tarefas | filter: { completed: completed } | filter: search | orderBy: 'created':true">
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">{{ tarefa.title }}</span>
								<span class="md-subhead">{{ tarefa.description }}</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end center">
							<md-button ng-click="concluir(tarefa)">{{ tarefa.completed ? 'Desconcluir' : 'Concluir' }}</md-button>
						</md-card-actions>
					</md-card>
				</md-content>
			</div>
		</div>

		<script src="/bower_components/less/dist/less.min.js" type="text/javascript"></script>
		<script src="/bower_components/angular/angular.min.js"></script>
	    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
	    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
	    <script src="/bower_components/angular-material/angular-material.min.js"></script>

	    <script src="/js/app.js" type="text/javascript"></script>
	</body>
</html>