<!DOCTYPE html>
<html ng-app="keep">
	<head>
		<title>Keep</title>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">

		<link rel="stylesheet/less" type="text/css" href="/css/estilos.less" />
		<link rel="stylesheet" type="text/css" href="/bower_components/angular-material/angular-material.css">
	</head>
	<body>
		<md-toolbar class="md-tall md-accent">
			<h2 class="md-toolbar-tools">
				<span>Google Keep</span>
			</h2>

			<md-input-container>
				<label>Title</label>
				<input ng-model="user.title">
			</md-input-container>
		</md-toolbar>

		<script src="/bower_components/less/dist/less.min.js" type="text/javascript"></script>
		<script src="/bower_components/angular/angular.min.js"></script>
	    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
	    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
	    <script src="/bower_components/angular-material/angular-material.min.js"></script>

	    <script src="/js/app.js" type="text/javascript"></script>
	</body>
</html>